table{
	border: 10px solid gold;
	border-collapse: collapse;
	 color: gold;
    min-width: 10em;
}
td:hover{
	background-color: Gray;
	color:black;
}
tr,th{
	background-color:black;
	color: white;
	 border: 1px solid gold;
}
tr,td{
	background-color: #666;
	 border: 1px solid gold;
    color: rgb(39, 3, 23);
}
